<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Minimal image hosting</title>
</head>
<body>
<h1>Minimal image hosting</h1>
<h2>Upload via File</h2>
<form action="/upload.php" enctype="multipart/form-data" method="post">
  <input type="hidden" name="csrf_token" value="%CSRF_TOKEN%"/>
  <input type="hidden" name="mode" value="file"/>
  <input type="file" name="file" />
  <input type="submit"/>
</form>
<h2>Upload via copy &amp; paste</h2>
<p>You can also just copy &amp; paste image (or image url) to here.</p>
<div id="message"></div>
<script>
<!--
document.addEventListener('paste', async ev => {
  const m = document.getElementById('message');
  m.innerHTML += '<p>Received a paste event.</p>';

  if ('input' === document.activeElement.tagName.toLowerCase()) {
    return;
  }

  const cd = (ev.clipboardData || ev.originalEvent.clipboardData);
  const items = cd.items;
  for (const item of items) {
    const f = new FormData();
    f.append('csrf_token', '%CSRF_TOKEN%');

    if (item.type.startsWith('image/')) {
      const file = item.getAsFile();

      f.append('file', file);
      f.append('mode', 'file');
    } else if (item.type === 'text/plain') {
      const url = cd.getData('text');

      f.append('mode', 'url');
      f.append('url', url);
    } else {
      m.innerHTML += '<p>item.type not supported.</p>';
      return;
    }

    m.innerHTML += '<p>Uploading...</p>';
    const res = await fetch('/upload.php', {
      body: f,
      method: 'POST',
    });

    if (res.status !== 200) {
      m.innerHTML += '<p>Failed to upload.</p>';
      return;
    }

    document.location = res.url;
  }
});
//-->
</script>
</body>
</html>
